page-about {
  .img_portada {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
  }
  .img_udla {
    display: block;
    margin: 0 auto;
    width: 40%;
    margin-top: 10px;
  }
}
