page-sensor-detalle {
  .header-image {
    background-image: url('../assets/images/sensor_parallax.jpg');
    height: 20vh;
  }
  .main-content {
    padding: 20px;
    background-color: white;
  }
}
