page-sensor-detalle {
  .header-image {
    background-image: url('../assets/images/sensor_parallax.jpg');
    height: 20vh;
  }
  .main-content {
    padding: 20px;
    background-color: white;
  }
  .ultimo {
    display: block;
    text-align: center;
    font-size: -webkit-xxx-large;
    font-stretch: condensed;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
  }
   .subtitle {
    display: block;
    text-align: center;
    font-size: smaller;
    font-stretch: condensed;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
  }
  
}
