<ion-header>
  <ion-navbar color="primary">
    <ion-title>Resumen</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="exit()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Resumen diario
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Estación</ion-label>
        <ion-select [(ngModel)]="idestacion" interface="popover" (ngModelChange)="loadSensores(idestacion)">
          <ion-option *ngFor="let item of list_estaciones" [value]="item.idEstacion" text-wrap>{{ item.Descripcion }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="idestacion">
        <ion-label>Sensor</ion-label>
        <ion-select [(ngModel)]="idsensor" interface="popover">
          <ion-option *ngFor="let item of list_sensores" [value]="item.idSensor" text-wrap>
            {{ item.NombreSensor }} {{item.Descripcion1}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="idsensor">
        <ion-label>Dia</ion-label>
        <ion-datetime displayFormat="MMMM DD YYYY" [(ngModel)]="fecha" min="2016" pickerFormat="MMMM DD YYYY">
        </ion-datetime>
      </ion-item>

      <button ion-button full outline (click)="loadResumen()" *ngIf="fecha && idsensor">
        <ion-icon name="ios-analytics"></ion-icon>
        Ver resumen
      </button>

      <canvas #grafica style="width:110%;height:500px;"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
